.wrapper{
    width: 100%;
    height: 100%;
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
}
.briefProposalContract{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.title{
   
    width: 100%;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 2rem;
}
.description{
    font-size: 27px;
    opacity: .8;
    margin-bottom: 3rem;
}
.pros{
    font-size:20px;
    list-style :disc;
    padding-left: 1.5rem;
    opacity: .7;
    text-align: start;
}

.marginbtm{
    margin-bottom: 5rem;
}
.image1{
    display: none;
}
.restImage{
    width: 100%;
    height:  40vh;
    padding: 3rem;
    background-color: white;
}
.noPadding{
    padding: 0;
}

@media(min-width: 800px){
    .wrapper{
        flex-direction: row;
    }
    .restImage{
        display: none;
    }
    .briefProposalContract{
        width: 50%;
        padding: 5rem 4.5rem;
        text-align: start;
    }
    .bgVectors{
        width: 50%;
        height: 100vh;
        padding: 5rem;
        position: sticky;
        top: 0;
    }
    .image1{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        display:block;
    }
    
    .marginbtm{
        margin-bottom: 10rem;
    }
}
/* 
@media(max-width: 500px){

} */
