.wrapper {
    margin: 10rem 0 0 0;
    font-family: 'poppins', sans-serif;
    width: 100%;
    height: 100%;
}

.p1Wrapper {
    width: 100%;
    letter-spacing: -2px;
}

.text {
    font-size: 20px;
}

.brandWrapper {
    display: inline-flex;
    margin-right: 0.6rem;
    margin-top: 0.4rem;
}

.bg1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 2rem;
    border-radius: 20px;
    display: inline-flex;
    margin-right: 0.3rem;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 0.1px;
}

@media (min-width: 800px) {
    .wrapper {
        margin: 10rem 0;
    }

    .p1Wrapper {
        width: 95%;
    }

    .text {
        font-size: 45px;
    }

    .brandWrapper {
        margin-right: 1rem;
        margin-top: 0.8rem;
    }

    .bg1 {
        width: 6rem;
        height: 4rem;
        margin-right: 1rem;
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .wrapper {
        margin-top: 5rem;
    }

    .text {
        font-size: 17px;
    }
}
